In [3]:
# import library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
b_df = pd.read_csv('burritos_01022018.csv')

In [5]:
b_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Location        385 non-null    object
 1   Burrito         385 non-null    object
 2   Date            385 non-null    object
 3   Neighborhood    87 non-null     object
 4   Address         83 non-null     object
 5   URL             82 non-null     object
 6   Yelp            82 non-null     float64
 7   Google          82 non-null     float64
 8   Chips           24 non-null     object
 9   Cost            378 non-null    float64
 10  Hunger          382 non-null    float64
 11  Mass (g)        22 non-null     float64
 12  Density (g/mL)  22 non-null     float64
 13  Length          251 non-null    float64
 14  Circum          249 non-null    float64
 15  Volume          249 non-null    float64
 16  Tortilla        385 non-null    float64
 17  Temp            365 non-null    float64
 18  Meat            373 non-null    float64
 19  Fillings        383 non-null    float64
 20  Meat:filling    377 non-null    float64
 21  Uniformity      383 non-null    float64
 22  Salsa           363 non-null    float64
 23  Synergy         383 non-null    float64
 24  Wrap            383 non-null    float64
 25  overall         383 non-null    float64
 26  Rec             228 non-null    object
 27  Reviewer        384 non-null    object
 28  Notes           129 non-null    object
 29  Unreliable      30 non-null     object
 30  NonSD           7 non-null      object
 31  Beef            176 non-null    object
 32  Pico            152 non-null    object
 33  Guac            147 non-null    object
 34  Cheese          155 non-null    object
 35  Fries           125 non-null    object
 36  Sour cream      89 non-null     object
 37  Pork            47 non-null     object
 38  Chicken         20 non-null     object
 39  Shrimp          21 non-null     object
 40  Fish            6 non-null      object
 41  Rice            35 non-null     object
 42  Beans           32 non-null     object
 43  Lettuce         11 non-null     object
 44  Tomato          7 non-null      object
 45  Bell peper      7 non-null      object
 46  Carrots         1 non-null      object
 47  Cabbage         8 non-null      object
 48  Sauce           38 non-null     object
 49  Salsa.1         6 non-null      object
 50  Cilantro        15 non-null     object
 51  Onion           17 non-null     object
 52  Taquito         4 non-null      object
 53  Pineapple       7 non-null      object
 54  Ham             1 non-null      object
 55  Chile relleno   4 non-null      object
 56  Nopales         4 non-null      object
 57  Lobster         1 non-null      object
 58  Queso           0 non-null      float64
 59  Egg             4 non-null      object
 60  Mushroom        3 non-null      object
 61  Bacon           3 non-null      object
 62  Sushi           2 non-null      object
 63  Avocado         13 non-null     object
 64  Corn            3 non-null      object
 65  Zucchini        1 non-null      object
dtypes: float64(20), object(46)
memory usage: 198.6+ KB

In [6]:
# checking null value in columns
b_df.isnull().sum()

Location          0
Burrito           0
Date              0
Neighborhood    298
Address         302
               ...
Bacon           382
Sushi           383
Avocado         372
Corn            382
Zucchini        384
Length: 66, dtype: int64

In [7]:
b_df.columns

Index(['Location', 'Burrito', 'Date', 'Neighborhood', 'Address', 'URL', 'Yelp',
       'Google', 'Chips', 'Cost', 'Hunger', 'Mass (g)', 'Density (g/mL)',
       'Length', 'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings',
       'Meat:filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'overall',
       'Rec', 'Reviewer', 'Notes', 'Unreliable', 'NonSD', 'Beef', 'Pico',
       'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp',
       'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini'],
      dtype='object')

In [8]:
# importing the RegEx library 
import re

In [9]:
# Eliminating the () from the column name.
b_df.columns= [re.sub("([\(\[]).*?([\)\]])","",x).strip() for x in b_df.columns]
b_df.columns= [x.replace(":","_").strip() for x in b_df.columns]

In [10]:
b_df.columns

Index(['Location', 'Burrito', 'Date', 'Neighborhood', 'Address', 'URL', 'Yelp',
       'Google', 'Chips', 'Cost', 'Hunger', 'Mass', 'Density', 'Length',
       'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings',
       'Meat_filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'overall',
       'Rec', 'Reviewer', 'Notes', 'Unreliable', 'NonSD', 'Beef', 'Pico',
       'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp',
       'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini'],
      dtype='object')

In [11]:
import atoti as tt

Welcome to atoti 0.6.2!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [21]:
session = tt.create_session(config={'user_content_storage' : "./content","port":9000})

Deleting existing "Unnamed" session to create the new one.

In [13]:
# scale circumference, volume, fillings, length, mass, and cost data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [14]:
burrito_vars_norm = b_df.loc[:,['Circum','Volume','Length','Mass','Cost']]

#change 0-1 scaline to 0-10 scale for readability
bnorms = scaler.fit_transform(burrito_vars_norm)*10

#create new columns for scaled values in our datframe (df)
b_df[['Circum_norm','Volume_norm','Length_norm','Mass_norm','Cost_norm']]=bnorms

In [15]:
b_df.columns

Index(['Location', 'Burrito', 'Date', 'Neighborhood', 'Address', 'URL', 'Yelp',
       'Google', 'Chips', 'Cost', 'Hunger', 'Mass', 'Density', 'Length',
       'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings',
       'Meat_filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'overall',
       'Rec', 'Reviewer', 'Notes', 'Unreliable', 'NonSD', 'Beef', 'Pico',
       'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp',
       'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini',
       'Circum_norm', 'Volume_norm', 'Length_norm', 'Mass_norm', 'Cost_norm'],
      dtype='object')

In [16]:
#create new dataframe for variables so they can be used in a visualization platform
#melt reshapes the data so that we have 1 column with circum, volume, length, mass, and cost as features & 1 with values.
#we increaste the number of rows by 5x and decrease the number of columns by 4.
burrito_variables = pd.melt(b_df.reset_index(),id_vars=['Location','Burrito'], value_vars= ['Circum_norm', 'Volume_norm', 'Length_norm', 'Mass_norm', 'Cost_norm'])
burrito_variables

                   Location               Burrito     variable     value
0        Donato's taco shop           California   Circum_norm       NaN
1      Oscar's Mexican food           California   Circum_norm       NaN
2      Oscar's Mexican food              Carnitas  Circum_norm       NaN
3      Oscar's Mexican food           Carne asada  Circum_norm       NaN
4              Pollos Maria            California  Circum_norm       NaN
...                     ...                   ...          ...       ...
1920  Rigoberto's Taco Shop           California     Cost_norm  1.753748
1921  Rigoberto's Taco Shop           California     Cost_norm  1.753748
1922            Burrito Box  Steak with guacamole    Cost_norm  3.866424
1923             Taco Stand           California     Cost_norm  2.226261
1924             Taco Stand           California     Cost_norm  2.226261

[1925 rows x 4 columns]

In [17]:
from flask import Flask, session

In [23]:
burrit_table = session.read_pandas(b_df,table_name = 'burritos')
burrit_table.head()

,Location,Burrito,Date,Neighborhood,Address,URL,Yelp,Google,Chips,Cost,...,Bacon,Sushi,Avocado,Corn,Zucchini,Circum_norm,Volume_norm,Length_norm,Mass_norm,Cost_norm
0,Donato's taco shop,California,1/18/2016,Miramar,6780 Miramar Rd,http://donatostacoshop.net/,3.5,4.2,N/A,6.49,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.590186
1,Oscar's Mexican food,California,1/24/2016,San Marcos,225 S Rancho Santa Fe Rd,http://www.yelp.com/biz/oscars-mexican-food-sa...,3.5,3.3,N/A,5.45,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.117674
2,Oscar's Mexican food,Carnitas,1/24/2016,N/A,N/A,N/A,NaN,NaN,N/A,4.85,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,0.845070
3,Oscar's Mexican food,Carne asada,1/24/2016,N/A,N/A,N/A,NaN,NaN,N/A,5.25,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.026806
4,Pollos Maria,California,1/27/2016,Carlsbad,3055 Harding St,http://pollosmaria.com/,4.0,3.8,x,6.59,...,N/A,N/A,N/A,N/A,N/A,NaN,NaN,NaN,NaN,1.635620

In [24]:
cube  = session.create_cube(burrit_table)

In [26]:
# Aliasing the hierarchies property to a shorter variable name.
h = cube.hierarchies
l = cube.levels
m = cube.measures

In [27]:
m['five'] = 5

In [29]:
session.visualize('Exploration_1')

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.